
.item {
   
    width: 280px; 
    margin: 0 auto;
    box-sizing: border-box; 
    padding: 10px; 
}
.item img{
    width: 280px;
}
.item p {
    margin: 6px 0; 
}

.item-prices {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    text-decoration: line-through;
    font-weight: 500;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}
@media(max-width:1280px){
    .item{
        width: 230px;
        font-size: 14px;
      
    }
    .item img{
        width: 230px;
    }
    .item-price-old{
        font-size: 14px;
    }
    .item-price-new{
        font-size: 16px;
    }
}
@media(max-width:1024px){
    .item{
        width: 185px;
        font-size: 13px;
    }
    .item img{
        width: 185px;
    }
    .item-price-old{
        font-size: 13px;
    }
}
@media(max-width:800px){
    .item{
        width: 140px;
        font-size: 12px;
    }
    .item img{
        width: 140px;
    }
    .item-price-old{
        font-size: 12px;
    }
}
@media(max-width:500px){
    .item{
        width: 165px;

    }
    .item img{
        width: 165px;
    }
}